<section class="review">
  <h2 class="review__header">customer review</h2>
  <div class="container review__container">
    <div class="carousel">
      <input
        class="carousel-open"
        type="radio"
        id="carousel-1"
        name="carousel"
        aria-hidden="true"
        hidden=""
        checked="checked"
      />
      <div class="carousel-item">
        <picture class="review__img">
          <img src="./images/customer_review/review-image.png" alt="client's image" />
        </picture>
        <div class="review__wrapper">
          <p class="review__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="client-info">
          <p class="client-info__name">emily, los angeles</p>
        </div>
      </div>
      <input
        class="carousel-open"
        type="radio"
        id="carousel-2"
        name="carousel"
        aria-hidden="true"
        hidden=""
      />
      <div class="carousel-item">
        <picture class="review__img">
          <img src="./images/customer_review/review-image-2.png" alt="client's image" />
        </picture>
        <div class="review__wrapper">
          <p class="review__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="client-info">
          <p class="client-info__name">margaret, new york</p>
        </div>
      </div>
      <input
        class="carousel-open"
        type="radio"
        id="carousel-3"
        name="carousel"
        aria-hidden="true"
        hidden=""
      />
      <div class="carousel-item">
        <picture class="review__img">
          <img src="./images/customer_review/review-image-3.png" alt="client's image" />
        </picture>
        <div class="review__wrapper">
          <p class="review__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="client-info">
          <p class="client-info__name">eva, chicago</p>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li>
          <label for="carousel-1" class="carousel-bullet">•</label>
        </li>
        <li>
          <label for="carousel-2" class="carousel-bullet">•</label>
        </li>
        <li>
          <label for="carousel-3" class="carousel-bullet">•</label>
        </li>
      </ol>
    </div>
  </div>
</section>
