<section class="products" id="products">
  <div class="container">
    <div class="products__wrapper">
      <p class="products__subtitle">100% natural</p>
      <h2 class="products__title">products</h2>
    </div>
    <ul class="products__items">
      <li class="products__item products__item--ice-cream">
        <div class="products__box products__box--ice-cream">
          <h3 class="products__name products__name--ice-cream">ice cream</h3>
          <div class="products__descriptionholder">
            <p class="products__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <div class="products__productdescrp products__item--ice-cream">
              <ul class="products__productlist">
                Ingredients:
                <li>product 1 volume1</li>
                <li>product 2 volume2</li>
                <li>product 3 volume3</li>
                <li>product 4 volume4</li>
                <li>product 5 volume5</li>
                <li>product 6 volume6</li>
              </ul>
            </div>
          </div>
          <div class="products__btn">
            <button type="button" class="products__btn--image"></button>
          </div>
        </div>
      </li>
      <li class="products__item products__item--ice-coffee">
        <div class="products__box products__box--ice-coffee">
          <h3 class="products__name">ice coffee</h3>
          <div class="products__descriptionholder">
            <p class="products__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <div class="products__productdescrp products__item--ice-coffee">
              <ul class="products__productlist">
                Ingredients:
                <li>product 1 volume1</li>
                <li>product 2 volume2</li>
                <li>product 3 volume3</li>
                <li>product 4 volume4</li>
                <li>product 5 volume5</li>
                <li>product 6 volume6</li>
              </ul>
            </div>
          </div>
          <div class="products__btn">
            <button type="button" class="products__btn--image"></button>
          </div>
        </div>
      </li>
      <li class="products__item products__item--milkshakes">
        <div class="products__box products__box--milkshakes">
          <h3 class="products__name">milkshakes</h3>
          <div class="products__descriptionholder">
            <p class="products__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <div class="products__productdescrp products__item--milkshakes">
              <ul class="products__productlist">
                Ingredients:
                <li>product 1 volume1</li>
                <li>product 2 volume2</li>
                <li>product 3 volume3</li>
                <li>product 4 volume4</li>
                <li>product 5 volume5</li>
                <li>product 6 volume6</li>
              </ul>
            </div>
          </div>
          <div class="products__btn">
            <button type="button" class="products__btn--image"></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
